<app-navbar></app-navbar>
<main class="main-cart">
    <div class="cart-title">
        <h1>Tu Carrito</h1>
        <p>Monto Total: {{(montoTotal | async)!.toFixed(2)}}</p>
        <div *ngIf="(totalQuantityCartItems | async) !== 0" class="nav-buttons">
            <button mat-button class="go-pay" (click)="goPay()" [disabled]="loading">IR A PAGAR</button>
        </div>
    </div>
    <div *ngIf="(totalQuantityCartItems | async) !== 0">
        <div *ngFor="let item of (cartItems | async)" class="">
            <mat-card class="card">
                <div class="card--info">
                    <div>
                        <mat-card-title-group>
                            <mat-card-title>{{item.title}}</mat-card-title>
                            <mat-card-subtitle>S/. {{item.price.toFixed(2)}}</mat-card-subtitle>
                        </mat-card-title-group>
                        <mat-card-content>
                            {{item.description}}
                        </mat-card-content>
                    </div>
                    <img class="image" mat-card-image src="{{ baseUrl }}/{{ item.image }}" alt="{{ item.title }}" />
                    <div class="quantity">
                        <h2>Cantidad</h2>
                        <p>{{item.quantity}}</p>
                    </div>
                </div>
                <div class="card--actions">
                    <mat-card-actions class="mat-actions" style="margin: 0px;">
                        <button mat-button class="add-to-cart" (click)="addProductToCart(item)">AÑADIR</button>
                        <button mat-button class="add-to-cart" (click)="removeProductFromCart(item)">QUITAR</button>
                    </mat-card-actions>
                </div>
            </mat-card>
            <!-- <mat-card>
                <mat-card-header>
                  <mat-card-title>{{ item.title }}</mat-card-title>
                  <mat-card-subtitle>S/.{{ item.price.toFixed(2) }}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="{{ baseUrl }}/{{ item.image }}" alt="{{ item.title }}" />
                <mat-card-content>
                  <p>{{ item.description || "Sin descripción disponible" }}</p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button class="add-to-cart" (click)="addProductToCart(item)">AÑADIR AL CARRITO</button>
                </mat-card-actions>
              </mat-card>
              <button mat-button class="show-more" routerLink="/products">
                VER MÁS
              </button> -->
        </div>
    </div>
    <div *ngIf="(totalQuantityCartItems | async) === 0">
        <p>No tienes productos agregados a tu carrito</p>
        <div class="go-back">
            <button mat-button routerLink="/products">IR A PRODUCTOS</button>
        </div>
    </div>
</main>