.sections {
  padding: 20px 0;
  max-width: 1400px;
  width: 85%;
  margin: 0 auto;
}

.banner {
  width: 100%;
}

.section-title {
  margin-bottom: 15px;
}

.divider {
  margin: 15px auto;
}

.section-title {
  display: flex;
  align-items: center;
  gap: 8px;
}

.section-title > h2 {
  margin: 0;
}

.section-content {
  margin: 0 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.show-more {
  width: 100%;
  margin-top: 10px;
  background-color: #e0d649;
}

.add-to-cart {
  width: 100%;
  background-color: #e09249;
}
